body{
    font-family: Arial;
    text-align: center;
    background-color:rgb(128, 128, 128);
    font-size: 28px;

}

button{
    font-size: 28px;
}

h1 {
    font-size: 50px;
}

#ketqua {
    color: rgb(255, 106, 0);
}

